
Package: net.seanstaffiery.package
Name: Test Package
Version: 1.0
Architecture: iphoneos-arm
Description: Test Package
Depiction: http://seanstaffiery.github.io/packages/package.html
Homepage: http://seanstaffiery.github.io
Maintainer: Sean Staffiery <sean@seanstaffiery.com>
Author: Sean Staffiery <sean@seanstaffiery.com>
Section: Themes
